<?xml version="1.0"?>
<config>
    <sections>
        <trackingimport translate="label" module="trackingimport">
            <label>Tracking Import</label>
			<tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
            	<general>
            		<label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
   						   <invoice translate="label">
                                <label>Invoice During Import</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>2</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                           </invoice>
                           <email translate="label">
                                <label>Email Customer</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>4</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                           </email>
						   <delimiter translate="label">
								<label>Set Delimiter</label>
								<frontend_type>text</frontend_type>
								<comment>The seperater used in the CSV file</comment>
								<sort_order>5</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
                      	  </delimiter>
                      	  <enclosure translate="label">
								<label>Set Encloser</label>
								<frontend_type>text</frontend_type>
								<comment>The encloser used in the CSV file</comment>
								<sort_order>6</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
                      	  </enclosure>
						  <importstatus translate="label">
								<label>Select Import Order Status</label>
								<frontend_type>select</frontend_type>
								<source_model>adminhtml/system_config_source_order_status</source_model>
								<comment>The final order status once the tracking information has been imported</comment>
								<sort_order>7</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
                      	  </importstatus>
                   </fields>
            	</general>
				<csvheaders>
            		<label>CSV Headers</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						 <orderid translate="label">
								<label>OrderId Column</label>
								<frontend_type>text</frontend_type>
								<comment>The csv column header for orderId</comment>
								<sort_order>1</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
                      	  </orderid>
						  <shipmentid translate="label">
								<label>Tracking Code Column</label>
								<frontend_type>text</frontend_type>
								<comment>The csv column header for tracking number</comment>
								<sort_order>2</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
                      	  </shipmentid>
						  <carrierid translate="label">
								<label>Carrier Column</label>
								<frontend_type>text</frontend_type>
								<comment>The csv column header for carrier name</comment>
								<sort_order>3</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
                      	  </carrierid>
                      	  <sku translate="label">
                                <label>Sku Column</label>
                                <frontend_type>text</frontend_type>
                                <comment>The csv column header for sku</comment>
                                <sort_order>4</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                          </sku>
                          <qty translate="label">
                                <label>Qty Column</label>
                                <frontend_type>text</frontend_type>
                                <comment>The csv column header for qty</comment>
                                <sort_order>5</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                          </qty>
					</fields>
				</csvheaders>
				<cron_settings>
            		<label>Cron Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
					<show_in_website>0</show_in_website>
					<show_in_store>0</show_in_store>
					<fields>
						<active translate="label">
                                <label>Enable Cron Import</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <sort_order>0</sort_order>
                                <comment>Enable Automatic Imports</comment>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                        </active>
						<localdir translate="label">
								<label>Local Import Folder</label>
								<frontend_type>text</frontend_type>
								<comment>Which Folder You Would Like To Scan Within var/import</comment>
								<sort_order>1</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
                      	  </localdir>
                      	  <cron_archive translate="label">
                                <label>Archive Cron Imports</label>
                                <frontend_type>select</frontend_type>
                                <source_model>adminhtml/system_config_source_yesno</source_model>
                                <comment>Save the imported cron files</comment>
                                <sort_order>0</sort_order>
                                <show_in_default>1</show_in_default>
                                <show_in_website>0</show_in_website>
                                <show_in_store>0</show_in_store>
                        </cron_archive>
					</fields>
				</cron_settings>
            </groups>
        </trackingimport>
    </sections>
</config>