<?xml version="1.0"?>
<config>
    <modules>
        <Exceedz_OrderPopup>
            <version>0.1.4</version>
        </Exceedz_OrderPopup>
    </modules>
    <frontend>
        <routers>
            <orderpopup>
                <use>standard</use>
                <args>
                    <module>Exceedz_OrderPopup</module>
                    <frontName>orderpopup</frontName>
                </args>
            </orderpopup>
        </routers>
    </frontend>
    <global>
		<blocks>
            <orderpopup>
                <class>Exceedz_OrderPopup_Block</class>
            </orderpopup>
        </blocks>		
    </global>
</config>