<?xml version="1.0"?>
<config>
    <modules>
        <Milandirect_Cms>
            <version>0.1.0</version>
        </Milandirect_Cms>
    </modules>
    <global>
        <blocks>
            <cms>
                <rewrite>
                    <block>Milandirect_Cms_Block_Block</block>
                </rewrite>
            </cms>
        </blocks>
    </global>
</config>