<?xml version="1.0"?>
<config>
    <modules>
        <Balance_Shippingprotection>
            <version>0.1.1</version>
        </Balance_Shippingprotection>
    </modules>
    <frontend>
        <routers>
            <shippingprotection>
                <use>standard</use>
                <args>
                    <module>Balance_Shippingprotection</module>
                    <frontName>shippingprotection</frontName>
                </args>
            </shippingprotection>
        </routers>
        <layout>
            <updates>
                <shippingprotection>
                    <file>shippingprotection.xml</file>
                </shippingprotection>
            </updates>
        </layout>
    </frontend>
    <global>

        <fieldsets>
            <sales_convert_quote>
                <bi_is_protection>
                    <to_order>*</to_order>
                </bi_is_protection>
                <bi_protection_price>
                    <to_order>*</to_order>
                </bi_protection_price>
            </sales_convert_quote>
        </fieldsets>

        <resources>
            <shippingprotection_setup>
                <setup>
                    <module>Balance_Shippingprotection</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippingprotection_setup>
            <shippingprotection_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shippingprotection_write>
            <shippingprotection_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shippingprotection_read>
        </resources>
        <models>
            <shippingprotection>
                <class>Balance_Shippingprotection_Model</class>
            </shippingprotection>
        </models>
        <blocks>
            <shippingprotection>
                <class>Balance_Shippingprotection_Block</class>
            </shippingprotection>
        </blocks>
        <helpers>
            <shippingprotection>
                <class>Balance_Shippingprotection_Helper</class>
            </shippingprotection>
        </helpers>
        <events>
            <sales_quote_collect_totals_before>
                <observers>
                    <shippingprotection>
                        <type>model</type>
                        <class>shippingprotection/observer</class>
                        <method>collectTotalBefore</method>
                    </shippingprotection>
                </observers>
            </sales_quote_collect_totals_before>
            <sales_quote_remove_item>
                <observers>
                    <shippingprotection>
                        <type>singleton</type>
                        <class>shippingprotection/observer</class>
                        <method>deleteProtection</method>
                    </shippingprotection>
                </observers>
            </sales_quote_remove_item>
        </events>
    </global>
</config>
