<?xml version="1.0"?>
<config>
    <modules>
        <Balance_Catalog>
            <version>0.1.0</version>
        </Balance_Catalog>
    </modules>
    <global>
        <models>
            <balance_catalog>
                <class>Balance_Catalog_Model</class>
                <resourceModel>balance_catalog_resource</resourceModel>
            </balance_catalog>
            <enterprise_catalog>
                <rewrite>
                    <product_url>Balance_Catalog_Model_Product_Url</product_url>
                </rewrite>
            </enterprise_catalog>
        </models>
        <helpers>
            <balance_catalog>
                <class>Balance_Catalog_Helper</class>
            </balance_catalog>
        </helpers>
    </global>
</config>