<!--@subject MilanDirect- Web link from {{var sender}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding: 20px">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
                <tr>
                    <td valign="top">
                        <p>Hi {{var receiver}},<br />
                            <br />
                            I have sent you this link from the Milan Direct website as I believe you may be interested in this product.<br />
                            <br />
                            Please look at {{var link}}<br />
                            <br />
                            {{var message}}<br />
                            <br />
                            Regards, <br />
                            {{var sender}}<br />
                        <hr />
                        <b>Milan Direct</b><br/>
                        <b>www.milandirect.com.au</b><br/>
                        <b>#1 in Online Furniture</b><br/>
                        <br />Email:sales@milandirect.com.au</a><br />
                        facebook.com/milandirect<br/>
                        twitter.com/milandirect<br />
                        <br />
                        <b>To be the first to hear our latest specials,competitions and new product additions,we encourage you to sign up to our newsletter:
                            <a href="{{store url=""}}" target="_blank">{{store url=""}}</a></b></p> </b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}
