</td>
</tr>
</table>
</td>
</tr>
<tr>
    <td bgcolor="F6F6F6" align="center" style="text-align:center;">
        <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="640" align="center" style="text-align: center;">
            <tr>
                <td style="padding: 40px 0;border-top: 1px solid #e7e7e7;" colspan="6">
                    <p style="margin: 0;font-size: 18px;color: #000;">Thank you for shopping at {{var store.getFrontendName()}}!</p>
                    <p style="margin: 10px 0 0;font-size: 12px;"><a href="{{store url=""}}" style="text-decoration-color: #0e83c0;color: #0e83c0;">Shop online</a></p>
                    <p style="margin: 30px 0 0;">
                        <a href="https://www.facebook.com/"><img src="{{skin url="images/email/fb-ic.png"}}" alt="""></a>&nbsp;&nbsp;
                        <a href="https://twitter.com/"><img src="{{skin url="images/email/tw-ic.png"}}" alt="""></a>&nbsp;&nbsp;
                        <a href="http://www.pinterest.com/"><img src="{{skin url="images/email/pin-ic.png"}}" alt="""></a>&nbsp;&nbsp;
                        <a href=""><img src="{{skin url="images/email/google-ic.png"}}" alt="""></a>
                    </p>
                </td>
            </tr>
        </table>

        <table bgcolor="F6F6F6" cellspacing="0" cellpadding="0" border="0" width="100%" align="center" style="text-align: center;">
            <tr>
                <td style="font-size: 10px;color: #888888; text-align: center;padding-top: 30px;">
                    <p style="margin: 0;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
                    <p style="margin: 0;">aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis </p>
                    <p style="margin: 0;">aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                </td>
            </tr>
        </table>

    </td>
</tr>
</table>
</div>
</body>