<?xml version="1.0"?>
<config>
    <modules>
        <Balance_ExplodemenuExtend>
            <version>0.1.1</version>
        </Balance_ExplodemenuExtend>
    </modules>
    <global>
        <resources>
            <balance_explodemenuextend_setup>
                <setup>
                    <module>Balance_ExplodemenuExtend</module>
                </setup>
            </balance_explodemenuextend_setup>
        </resources>
    </global>
</config>