<!--@subject {{var store.getFrontendName()}}: Shipment # {{var shipment.increment_id}} for Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var shipment.increment_id":"Shipment Id",
"var order.increment_id":"Order Id",
"var order.billing_address.format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.shipping_address.format('html')":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"layout handle=\"sales_email_order_shipment_items\" shipment=$shipment order=$order":"Shipment Items Grid",
"block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order":"Shipment Track Details",
"var comment":"Shipment Comment"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<table cellspacing="0" cellpadding="0" border="0" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:0">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="0" border="0" width="600">
                <tr>
                    <td width="300" style="padding: 20px;text-align: left;border-right: 1px solid #e7e7e7;">
                        <p style="font-size: 18px;font-weight: bold;">Thank you for your order!</p>
                        <p>You can check the status of your order by</p>
                        <a  href="{{store url="customer/account/"}}" style="color: #0e83c0;text-decoration-color: #0e83c0;">logging into your account.</a>
                    </td>
                    <td width="300" style="padding: 20px;text-align: left;">
                        <p style="font-size: 18px;font-weight: bold;">Need help? Call</p>
                        <p style="font-size: 12px;">Email : <a href="mailto:info@milandirect.com.au" style="color: #0e83c0;text-decoration-color: #0e83c0;">info@milandirect.com.au</a></p>
                        <p style="font-size: 12px;">Phone : +61 (3) 9645 6346</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;padding: 20px 0;border-top: 1px solid #e7e7e7;">
                        <h2 style="font-size:20px; font-weight:normal; margin:0;">Your Shipment #{{var shipment.increment_id}}</h2>
                        <p>Order #{{var order.increment_id}}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-top: 1px solid #e7e7e7;">
                        {{layout handle="sales_email_order_shipment_items" shipment=$shipment order=$order}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 20px;border-top: 1px solid #e7e7e7;">
                        <table cellspacing="0" cellpadding="0" border="0" width="600">
                            <thead>
                            <tr>
                                <th align="left" width="300" style="font-size:18px; padding:7px 9px 9px 9px;">Billing to</th>
                                <th align="left" width="300" style="font-size:18px; padding:7px 9px 9px 9px;">Shipping to</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;">
                                    {{var order.billing_address.format('html')}}
                                </td>
                                <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;">
                                    {{var order.shipping_address.format('html')}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                        {{depend order.getIsNotVirtual()}}
                        <table cellspacing="0" cellpadding="0" border="0" width="600">
                            <thead>
                            <tr>
                                <th align="left" width="300" style="font-size:18px; padding:7px 9px 9px 9px;">Payment Method</th>
                                <th align="left" width="300" style="font-size:18px; padding:7px 0 9px 9px;">Shipping Method</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;">
                                    {{var payment_html}}
                                </td>
                                <td valign="top" style="font-size:12px; padding:7px 9px 9px 9px;">
                                    {{var order.shipping_description}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <br/>
                        {{/depend}}
                        {{block type='core/template' area='frontend' template='email/order/shipment/track.phtml' shipment=$shipment order=$order}}
                        <p style="font-size:12px; margin:0 10px 10px 0">{{var comment}}</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer"}}