<?xml version="1.0"?><config>	<modules>		<Exceedz_Review>			<version>0.1.0</version>		</Exceedz_Review>	</modules>    <frontend>        <routers>            <review>                <use>standard</use>                <args>									<modules>						<exceedz before="Mage_Review">Exceedz_Review</exceedz>					</modules>					                </args>            </review>        </routers>    </frontend>	<global>		<blocks>			<review>				<rewrite>					<!-- Removed conflict and move to Milandirect_Review package -->					<!-- view>Exceedz_Review_Block_View</view -->                    <product_view>Exceedz_Review_Block_Product_View</product_view>				</rewrite>			</review>		</blocks>		<!-- Removed conflict and move to Milandirect_Review package -->        <!--  models>			<review_resource>				<rewrite>					<review>Exceedz_Review_Model_Resource_Review</review>				</rewrite>			</review_resource>            		</models -->	</global></config>