<?xml version="1.0"?>
<config>
    <modules>
        <Balance_Mobilecatalog>
            <version>0.1.0</version>
        </Balance_Mobilecatalog>
    </modules>
    <frontend>
        <routers>
            <mobilecatalog>
                <use>standard</use>
                <args>
                    <module>Balance_Mobilecatalog</module>
                    <frontName>mobilecatalog</frontName>
                </args>
            </mobilecatalog>
        </routers>
    </frontend>
    <global>
        <resources>
            <mobilecatalog_setup>
                <setup>
                    <module>Balance_Mobilecatalog</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mobilecatalog_setup>
            <mobilecatalog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mobilecatalog_write>
            <mobilecatalog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mobilecatalog_read>
        </resources>
    </global>
</config>