<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Milandirect_ConfigurableSwatches>
            <version>0.0.1</version>
        </Milandirect_ConfigurableSwatches>
    </modules>
    <global>
        <helpers>
            <configurableswatches>
                <rewrite>
                    <mediafallback>Milandirect_ConfigurableSwatches_Helper_Mediafallback</mediafallback>
                </rewrite>
            </configurableswatches>
        </helpers>
    </global>
</config>