<?xml version="1.0"?>
<config>
    <modules>
        <Milandirect_SimpleConfigurable>
            <version>0.1.0</version>
        </Milandirect_SimpleConfigurable>
    </modules>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <product_list>Milandirect_SimpleConfigurable_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <simpleconfigurable>
                <class>Milandirect_SimpleConfigurable_Model</class>
                <resourceModel>simpleconfigurable_resource</resourceModel>
            </simpleconfigurable>
            <simpleconfigurable_resource>
                <class>Milandirect_SimpleConfigurable_Model_Resource</class>
                <entities>
                    <configurable>
                        <table>milandirect_simpleconfigurable_configurable_simple</table>
                    </configurable>
                </entities>
            </simpleconfigurable_resource>
        </models>
        <resources>
            <simpleconfigurable_setup>
                <setup>
                    <module>Milandirect_SimpleConfigurable</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </simpleconfigurable_setup>
            <simpleconfigurable_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </simpleconfigurable_write>
            <simpleconfigurable_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </simpleconfigurable_read>
        </resources>
        <index>
            <indexer>
                <simpleconfigurable>
                    <model>simpleconfigurable/indexer</model>
                </simpleconfigurable>
            </indexer>
        </index>
    </global>
</config>