.dialog { border:1px solid #555; }
.dialog .bot { display:none !important; }
.overlay_magento { background-color:#000; filter:alpha(opacity=60); -moz-opacity:.6; opacity:.6; -webkit-opacity:.6; }
.top.table_window { border-bottom:0px solid #e6e6e6;/* background:#6a838b url(../images/top_bg.gif) 0 100% repeat-x;*/ }

.magento_tooltip_nw { width:6px; height:28px; }
.magento_tooltip_n { height:28px; }
.magento_tooltip_ne { width:6px; height:28px; }

.magento_tooltip_w { width:6px; }
.magento_tooltip_e { width:6px; }
.magento_tooltip_w,
.magento_tooltip_e,
.magento_tooltip_content { background: #fafafa url(magento_tooltip/content_bg.gif) 0 0 repeat-x; }

.magento_tooltip_sw { background:#deebf0; width:5px; height:3px; }
.magento_tooltip_s { background:#deebf0; height:3px; }
.magento_tooltip_se,

.magento_tooltip_sizer { background:#deebf0; width:5px; height:3px; }
.magento_tooltip_sizer { cursor:se-resize; }

.magento_tooltip_close { width:16px; height:16px; background:url(../images/window_close.png) no-repeat 0 0; position:absolute; top:5px; right:7px; cursor:pointer; z-index:1000; }
.magento_tooltip_minimize { width:16px; height:16px; background:url(../images/window_minimize.png) 0 0 no-repeat; position:absolute; top:5px; right:28px; cursor:pointer; z-index:1000; }
.magento_tooltip_maximize { width:16px; height:16px; background:url(../images/window_maximize.png)0 0 no-repeat; position:absolute; top:5px; right:49px; cursor:pointer; z-index:1000; }

.magento_tooltip_title { float:left; width:100%; font:bold 12px/28px Arial, Helvetica, sans-serif; color:#fff; text-align:left; }

.magento_tooltip_content { overflow:auto; font-size:12px; }
.magento_tooltip_content,
.magento_tooltip_content label { color:#333; font-family:Arial, sans-serif; }

.magento_tooltip_buttons { padding:10px; text-align:right; }
.magento_tooltip_buttons input.button { border-width:1px; border-style:solid; border-color:#ed6502 #a04300 #a04300 #ed6502;  background:#ffac47 url(../images/btn_bg.gif) 0 100% repeat-x; padding:0 7px 1px 7px; font:bold 12px/18px Arial, Helvetica, sans-serif; color:#fff; cursor:pointer; text-align:center; white-space:nowrap; }

/* FOR IE */
* html .magento_tooltip_close { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/../images/window_maximize.png", sizingMethod="crop"); }
* html .magento_tooltip_minimize { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/../images/window_close.png", sizingMethod="crop");}
* html .magento_tooltip_maximize { background-image:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../themes/../images/window_minimize.png", sizingMethod="crop"); }
