<?xml version="1.0"?>
<config>
    <modules>
        <Balance_Competitionbanner>
            <version>0.1.0</version>
        </Balance_Competitionbanner>
    </modules>
    <global>
        <blocks>
            <balance_competitionbanner>
                <class>Balance_Competitionbanner_Block</class>
            </balance_competitionbanner>
        </blocks>
        <helpers>
            <balance_competitionbanner>
                <class>Balance_Competitionbanner_Helper</class>
            </balance_competitionbanner>
        </helpers>
    </global>
</config>