<?xml version="1.0"?>
<config>
	<modules>
    <Magemagician_Guestorderprint>
      <version>0.1.0</version>
    </Magemagician_Guestorderprint>
   </modules>
   <!-- snip -->
  <frontend>
	<routers>
		<sales><!-- Name of core module to be overridden  -->
		  <args>
			<modules>
			  <Magemagician_Guestorderprint before="Mage_Sales">Magemagician_Guestorderprint</Magemagician_Guestorderprint>
			</modules>
		  </args>
		</sales>
	</routers>
  </frontend>
</config>