<?xml version="1.0"?>
<config>
    <modules>
        <Milandirect_Minify>
            <version>0.1.0</version>
        </Milandirect_Minify>
    </modules>
    <global>
        <helpers>
            <apptrian_minify>
                <rewrite>
                    <data>Milandirect_Minify_Helper_Data</data>
                </rewrite>
            </apptrian_minify>
        </helpers>
    </global>
</config>