<?xml version="1.0"?>
<config>
    <modules>
        <Exceedz_AddDispatchDate>
            <version>0.2.0</version>
        </Exceedz_AddDispatchDate>
    </modules>
    <global>
        <models>
            <exceedz_adddispatchdate>
                <class>Exceedz_AddDispatchDate_Model</class>
            </exceedz_adddispatchdate>
        </models>
        <resources>
            <adddispatchdate_setup>
                <setup>
                    <module>Exceedz_AddDispatchDate</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </adddispatchdate_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_item>
                <dispatch_date>
                    <to_order_item>*</to_order_item>
                </dispatch_date>
                <dispatch_note>
                	<to_order_item>*</to_order_item>
                </dispatch_note>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <dispatch_date>
                    <to_cm_item>*</to_cm_item>
                    <to_invoice_item>*</to_invoice_item>
                </dispatch_date>
                <dispatch_note>
                    <to_cm_item>*</to_cm_item>
                    <to_invoice_item>*</to_invoice_item>
                </dispatch_note>
            </sales_convert_order_item>
        </fieldsets>
    </global>
    <frontend>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <exceedz_adddispatchdate>
                        <type>singleton</type>
                        <class>exceedz_adddispatchdate/observer</class>
                        <method>addDispatchDate</method>
                    </exceedz_adddispatchdate>
                </observers>
            </sales_convert_quote_to_order>
        </events>
    </frontend>
</config>