/*
  Blog page general
*/
.blog-title {
    .sub-text {
        padding: 28px 0;
        border-top: 3px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
    }
}

.blog-milandirect {
    dl {
        dt {
            border-bottom: 1px solid #e7e7e7;
            position: relative;
            width: 100%;
            &.active {
                .blogTitle {
                    > span {
                        &:after {
                            content: $fa-var-angle-up;
                        }
                    }
                }
            }
            .blogTitle {
                display: inline-block;
                width: 100%;
                > span {
                    cursor: pointer;
                    float: right;
                    line-height: 73px;
                    &:after {
                        position: absolute;
                        content: $fa-var-angle-down;
                        font-family: $f-stack-icon;
                        font-size: 24px;
                        width: 20px;
                        height: 20px;
                        right: 0;
                        top: 0;
                        color: #0e83c0;
                        margin: 2px 0;
                    }
                }
                .blog-date {
                    display: inline-block;
                    vertical-align: middle;
                    color: #999999;
                    font-size: 18px;
                    font-family: $f-stack-special;
                    text-transform: uppercase;
                    width: 20%;
                    line-height: 73px;
                }
                .title-toggle {
                    display: inline-block;
                    padding-left: 50px;
                    vertical-align: middle;
                    > h2 {
                        text-transform: none;
                        color: $c-black;
                        font-size: 24px;
                        display: inline-block;
                        margin-bottom: 0;
                    }
                    .btn-read-more, .btn-read-less {
                        text-transform: none;
                        font-size: 14px;
                        color: #0e83c0;
                        font-family: $f-stack-regular;
                        display: block;
                        outline: none;
                    }
                }
                @include bp(max-width, $bp-medium + 1) {
                    .blog-date {
                        width: auto;
                        display: block;
                    }
                    .title-toggle {
                        display: block;
                        padding-left: 0;
                    }
                }
            }
        }
        dd {
            .postContent {
                padding-top: 30px;
                @include bp(max-width, $bp-small + 1){
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}