<?xml version="1.0"?>
<config>
    <modules>
        <Exceedz_GeoIp>
            <version>0.1.4</version>
        </Exceedz_GeoIp>
    </modules>
	<frontend>
        <routers>
            <geoip>
                <use>standard</use>
                <args>
                    <module>Exceedz_GeoIp</module>
                    <frontName>geoip</frontName>
                </args>
            </geoip>
        </routers>
        <layout>
            <updates>
                <geoip>
                    <file>geoip.xml</file>
                </geoip>
            </updates>
        </layout>
    </frontend>
    <global>
		<models>            
			<core>
				<rewrite>
					<store>Exceedz_GeoIp_Model_Store</store>
				</rewrite>
			</core>
        </models> 
        <helpers>
            <geoip>
                <class>Exceedz_GeoIp_Helper</class>
            </geoip>
        </helpers>		
    </global>
</config>