<?xml version="1.0"?>
<config>
    <modules>
        <Innobyte_ProductQuestions>
            <version>1.0.0</version>
        </Innobyte_ProductQuestions>
    </modules>
    <frontend>
        <routers>
            <innobyte_product_questions>
                <use>standard</use>
                <args>
                    <module>Innobyte_ProductQuestions</module>
                    <frontName>innoproductquestions</frontName>
                </args>
            </innobyte_product_questions>
        </routers>
        <layout>
            <updates>
                <innobyte_product_questions>
                    <file>innobyte/product_questions/layout.xml</file>
                </innobyte_product_questions>
            </updates>
        </layout>
        <translate>
            <modules>
                <Innobyte_ProductQuestions>
                    <files>
                        <default>Innobyte_ProductQuestions.csv</default>
                    </files>
                </Innobyte_ProductQuestions>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<Innobyte_ProductQuestions before="Mage_Adminhtml">Innobyte_ProductQuestions_Adminhtml</Innobyte_ProductQuestions>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <catalog>
                <children>
                    <inno_product_question translate="title" module="innobyte_product_questions">
                        <title>Product Questions</title>
                        <children>
                            <product_question translate="title" module="innobyte_product_questions">
                                <title>Questions</title>
                                <action>adminhtml/innobyteproductquestions_question</action>
                                <sort_order>10</sort_order>
                            </product_question>
                            <product_question_config translate="title" module="innobyte_product_questions">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/Innobyte_ProductQuestions</action>
                                <sort_order>20</sort_order>
                            </product_question_config>
                        </children>
                        <sort_order>999</sort_order>
                    </inno_product_question>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <title>Catalog</title>
                            <children>
                                <inno_product_question translate="title" module="innobyte_product_questions">
                                    <title>Product Questions</title>
                                    <children>
                                        <product_question translate="title" module="innobyte_product_questions">
                                            <title>Questions</title>
                                        </product_question>
                                    </children>
                                    <children>
                                        <product_question_config translate="title" module="innobyte_product_questions">
                                            <title>Settings</title>
                                        </product_question_config>
                                    </children>
                                </inno_product_question>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <innobyte_product_questions>
                    <file>innobyte/product_questions/layout.xml</file>
                </innobyte_product_questions>
            </updates>
        </layout>
        <translate>
            <modules>
                <Innobyte_ProductQuestions>
                    <files>
                        <default>Innobyte_ProductQuestions.csv</default>
                    </files>
                </Innobyte_ProductQuestions>
            </modules>
        </translate>
        <!--<acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <innobyte_product_questions>
                                            <title>Innobyte Product Questions</title>
                                        </innobyte_product_questions>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>-->
    </adminhtml>
    <global>
        <models>
            <innobyte_product_questions>
                <class>Innobyte_ProductQuestions_Model</class>
                <resourceModel>innobyte_product_questions_resource</resourceModel>
            </innobyte_product_questions>
            <innobyte_product_questions_resource>
                <class>Innobyte_ProductQuestions_Model_Resource</class>
                <entities>
                    <question>
                        <table>innobyte_product_question</table>
                    </question>
                    <votes>
                        <table>innobyte_product_question_votes</table>
                    </votes>
                </entities>
            </innobyte_product_questions_resource>
        </models>
        <resources>
            <innobyte_product_questions_setup>
                <setup>
                    <module>Innobyte_ProductQuestions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </innobyte_product_questions_setup>
            <innobyte_productquestions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </innobyte_productquestions_write>
            <innobyte_productquestions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </innobyte_productquestions_read>
        </resources>
        <blocks>
            <innobyte_product_questions>
                <class>Innobyte_ProductQuestions_Block</class>
            </innobyte_product_questions>
        </blocks>
        <helpers>
            <innobyte_product_questions>
                <class>Innobyte_ProductQuestions_Helper</class>
            </innobyte_product_questions>
        </helpers>

        <template>
            <email>
                <Innobyte_ProductQuestions_emails_admintemplate translate="label" module="innobyte_product_questions">
                    <label>Product Questions - Admin notification</label>
                    <file>innobyte/product_questions/to_admin.html</file>
                    <type>html</type>
                </Innobyte_ProductQuestions_emails_admintemplate>
                <Innobyte_ProductQuestions_emails_customertemplate translate="label" module="innobyte_product_questions">
                    <label>Product Questions - Reply</label>
                    <file>innobyte/product_questions/to_customer.html</file>
                    <type>html</type>
                </Innobyte_ProductQuestions_emails_customertemplate>
            </email>
        </template>
    </global>

    <default>
       <Innobyte_ProductQuestions>
            <settings>
                <guestmessage></guestmessage>
                <active>1</active>
                <can_add_questions>1</can_add_questions>
                <numberquestions>3</numberquestions>
            </settings>
            <emails>
                <admintemplate>innobyte_product_questions_emails_innoproductquestions_admintemplate</admintemplate>
                <customertemplate>innobyte_product_questions_emails_innoproductquestions_customertemplate</customertemplate>
            </emails>
        </Innobyte_ProductQuestions>
    </default>
</config>
