<?xml version="1.0"?>
<config>
	<modules>
		<Exceedz_ShippingFilter>
			<version>0.1.0</version>
			<depends>
	            <Mage_Shipping />
			</depends>
		</Exceedz_ShippingFilter>
	</modules>
	<global>
		<resources>
            <shippingfilter_setup>
                <setup>
                    <module>Exceedz_ShippingFilter</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shippingfilter_setup>
            <shippingfilter_write>
				<connection>
					<use>core_write</use>
				</connection>
			</shippingfilter_write>
			<shippingfilter_read>
				<connection>
					<use>core_read</use>
				</connection>
			</shippingfilter_read>
        </resources>
		<models>
			<shippingfilter>
				<class>Exceedz_ShippingFilter_Model</class>
			</shippingfilter>
            <shipping>
				<rewrite>
					<carrier_flatrate>Exceedz_ShippingFilter_Model_Carrier_Flatrate</carrier_flatrate>
				</rewrite>
			</shipping>
			<sales>
				<rewrite>
					<quote_address_total_shipping>Exceedz_ShippingFilter_Model_Quote_Address_Total_Shipping</quote_address_total_shipping>
				</rewrite>
			</sales>
		</models>
		<helpers>
			<shippingfilter>
				<class>Exceedz_ShippingFilter_Helper</class>
			</shippingfilter>
			<shipping>
				<rewrite>
					<data>Exceedz_ShippingFilter_Helper_Shipping</data>
				</rewrite>
			</shipping>
        </helpers>
	</global>
</config>
